


<h1>dawdawd</h1>





<script>

//   var a = {
//       "2019-04-30":{"USDBRL":3.918397, "USDEUR":0.891596, "USDARS":44.354023},
//       "2019-05-01":{"USDBRL":3.920797, "USDEUR":0.892825, "USDARS":44.387503},
//       "2019-05-02":{"USDBRL":3.967699, "USDEUR":0.895005, "USDARS":44.767497},
//       "2019-05-03":{"USDBRL":3.939041, "USDEUR":0.89194, "USDARS":44.446041},
//       "2019-05-04":{"USDBRL":3.939041, "USDEUR":0.89194, "USDARS":44.446041},
//       "2019-05-05":{"USDBRL":3.938099, "USDEUR":0.894025, "USDARS":44.54797},
//       "2019-05-06":{"USDBRL":3.960303, "USDEUR":0.892803, "USDARS":44.671021}
//   }
//
//   var b = "{\"2019-04-30\":{\"USDEUR\":0.891596,\"USDBRL\":3.918397,\"USDARS\":44.354023},\"2019-05-01\":{\"USDEUR\":0.892825,\"USDBRL\":3.920797,\"USDARS\":44.387503},\"2019-05-02\":{\"USDEUR\":0.895005,\"USDBRL\":3.967699,\"USDARS\":44.767497},\"2019-05-03\":{\"USDEUR\":0.89194,\"USDBRL\":3.939041,\"USDARS\":44.446041},\"2019-05-04\":{\"USDEUR\":0.89194,\"USDBRL\":3.939041,\"USDARS\":44.446041},\"2019-05-05\":{\"USDEUR\":0.894025,\"USDBRL\":3.938099,\"USDARS\":44.54797},\"2019-05-06\":{\"USDEUR\":0.89306,\"USDBRL\":3.970201,\"USDARS\":44.671043}}"
//
// console.log(b)
//
//     var c = {"USDEUR"=>0.89329, "USDBRL"=>3.969697, "USDARS"=>44.691008}

</script>